<!-- <input [(ngModel)]="color">



<p [ngStyle]="{'background-color':color==='true'?'yellow':'blue'}">stylebind works!</p>
<br>
<p [ngClass]="{ngstyling:color=='true'}">ngClass</p><br>
<p *ngIf="color==='red'" style="background-color: red;">red resembles danger </p>
<p *ngIf="color==='blue'" style="background-color: blue;">blue resembles water </p>
<p *ngIf="whentrue(); else elseblock">here u go</p>
<ng-template #elseblock>
    <p>{{whenfalse()}}</p>
</ng-template>
<select>
    <option *ngFor="let colors of clist">{{colors}}</option>
</select> -->

<button (click)="onclick()">click</button>
